@import "./vars.scss";
#root {
  .btn-sign-up,
  .btn-deposit,
  .reload-box {
    background: $casinoMain !important;
  }
  .account-info {
    > span {
      color: $casinoMain !important;
    }
  }
  .casino-panel {
    height: 767px;

    .slider {
      .slider-container{
        > div {
          > div {
            position: relative;
            img {
              width: 2000px;
              height: 616px;
              margin-top: -105px;
              margin-left: -40px;
            }
            .container {
              position: absolute;
              left: 50%;
              top: 0;
              transform: translateX(-50%);
  
              .content {
                width: 325px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 252px;
                top: 105px;
                .icon-box {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 250px;
                  height: 150px;
                  transform: translateY(-7px);
                }
                p {
                  font-size: 24px;
                  text-align: center;
                  color: rgba(255, 255, 255, 1);
                  line-height: 30px;
                  transform: translateY(-10px);
                }
                .btn {
                  transform: translateY(-3px);
                  width: 160px;
                  height: 40px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  background: $casinoMain;
                  font-family: "Nunito-Black";
                  font-size: 18px;
                  color: rgba(26, 26, 26, 1);
                  border-radius: 5px;
                  margin-top: 38px;
                }
              }
            }
          }
        }
      }
     
      .pagination {
        flex-wrap: wrap;
        width: 1180px;
        bottom: 60px;
        li {
          width: 180px;
          height: 80px;
          background: #1e2022;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 20px;
          overflow: hidden;
          transition: transform 0.3s;
          i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &.on{
                display: none;
            }
          }

          &:nth-child(6) {
            margin-right: 0;
          }

          &.on,
          &:hover {
            transform: translateY(-10px);
            &::before,
            &::after {
              background: #f3c301;
            }
            i{
                &.on{
                    display: inline-block;
                }
            }
          }

          position: relative;
          &::before,
          &::after {
            transition: background 0.5s;
            content: "";
            position: absolute;
            background: #755f01;
          }
          &::before {
            height: 3px;
            left: 0;
            bottom: 0;
            width: 100%;
          }
          &::after {
            width: 83px;
            height: 4px;
            left: 48px;
            bottom: 2px;
            transform: perspective(0.5em) rotateX(8deg);
          }
        }
      }
    }
  }
}


@media (max-width: 1025px){
  #root{
    .casino-panel{
      height: 1097px;
      .slider{
        .slider-container{
          >div{
            width: 100%;
            >div{
              width: 100%;
              img{
                height: 880px;
                width: auto;
                margin: 0 auto;
                display: block;
                margin-top: -160px;
                margin-left: -300px;
              }
              .container{
                .content{
                  width: 480px;
                  top: 150px;
                  .icon-box{
                    width: 423px;
                    height: 213px;
                  }
                  p{
                    font-size:35px;
                    line-height:42px;
                  }
                  .btn{
                    width:227px;
                    height:57px;
                    font-size:28px;
                  }
                }
              }
            }
          }
        }
     
        .pagination {
          width: 1710px;
          bottom: 84px;
          li{
            width: 260px;
            height: 116px;
            margin-right: 30px;
            margin-bottom: 30px;
            border-radius: 14px;
            &::before{
              height: 4px;
            }
            &::after{
              height: 8px;
              bottom: 2px;
              left: 66px;
              width: 122px;
            }
            >div{
              >i{
                transform: translate(-50%, -50%) scale(1.46);
              }
            }
          }
        }
      }
    }
  }
}
